<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteMaster.master.cs" Inherits="CelMaster.SiteMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cell Master</title>
 <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link href="assets/estiloproyecto/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="assets/estiloproyecto/css/font-awesome.min.css" rel="stylesheet" />    
    <!-- Custom CSS -->
    <link href="assets/estiloproyecto/css/owl.carousel.css" rel="stylesheet" />
    <link href="assets/estiloproyecto/style.css" rel="stylesheet" />
    <link href="assets/estiloproyecto/css/responsive.css" rel="stylesheet" />
     <%-- alertas --%>
   <link href="assets/Fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="assets/SweeAlert/sweetalert.min.css" rel="stylesheet" />
    <script src="assets/JQuery/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/SweeAlert/sweetalert.all.min.js"></script>
    <script src="assets/SweeAlert/sweetAlertStyle.js"></script>
<asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>


<body>
    <form id="form1" runat="server">
        <div>
             <div class="header-area">
        <div class="container"/>
            <div class="row"/>
                <div class="col-md-8"/>
                    <div class="user-menu">
                        <ul>
                            <li><asp:LinkButton runat="server" ID="SiteImicio" OnClick="SiteImicio_Click"><i class="fa fa-user"></i>Inicio</asp:LinkButton></li>
                            <li><asp:LinkButton runat="server" ID="Cerrar" OnClick="Cerrar_Click"><i class="fa fa-user"></i>Cerra Sesion</asp:LinkButton></li>
                            <li><asp:LinkButton runat="server" ID="Admin" OnClick="Admin_Click"><i class="fa fa-user"></i>Administracion de Ususarios</asp:LinkButton></li>
                            <li><asp:LinkButton runat="server" ID="fac" OnClick="fac_Click"><i class="fa fa-user"></i>Facturacion</asp:LinkButton></li>
                            <li><asp:LinkButton runat="server" ID="Inv" OnClick="Inv_Click"><i class="fa fa-user"></i>Inventarios</asp:LinkButton></li>
                            <li><asp:LinkButton runat="server" ID="nuevopro" OnClick="nuevopro_Click"><i class="fa fa-user"></i>Nuevos productos</asp:LinkButton></li>
                            <li><asp:LinkButton runat="server" ID="Envios" OnClick="Envios_Click"><i class="fa fa-user"></i>Envios</asp:LinkButton></li>
                            <br />
                    </div>
                </div>
           





            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            
        </div>
    </form>
     <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script src="assets/estiloproyecto/js/owl.carousel.min.js"></script>
    <script src="assets/estiloproyecto/js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="assets/estiloproyecto/js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="assets/estiloproyecto/js/main.js"></script>
    
    <!-- Slider -->
    <script type="text/javascript" src="assets/estiloproyecto/js/bxslider.min.js"></script>
	<script type="text/javascript" src="assets/estiloproyecto/js/script.slider.js"></script>
</body>
</html>
